[Unit]
Description=FreeArk monthly-usage Service
After=network.target

[Service]
Type=simple
User=freeark
WorkingDirectory=/home/freeark/FreeArkWeb/backend
ExecStart=/home/yangyang/Freeark/FreeArk/venv/bin/python /home/freeark/FreeArkWeb/backend/manage.py monthly_usage_service --day 1 --time 01:00
Restart=on-failure
RestartSec=30s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=freeark-monthly-usage

[Install]
WantedBy=multi-user.target