[Unit]
Description=FreeArk mqtt-consumer Service
After=network.target

[Service]
Type=simple
User=yangyang
WorkingDirectory=/home/yangyang/Freeark/FreeArk/
ExecStart=/home/yangyang/Freeark/FreeArk/venv/bin/python /home/yangyang/Freeark/FreeArk/FreeArkWeb/backend/freearkweb/manage.py mqtt_consumer_service --auto-restart --monitor-interval 60
Restart=on-failure
RestartSec=30s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=freeark-mqtt-consumer

[Install]
WantedBy=multi-user.target