[Unit]
Description=FreeArk daily-usage Service
After=network.target

[Service]
Type=simple
User=yangyang
WorkingDirectory=/home/yangyang/Freeark/FreeArk/
ExecStart=/home/yangyang/Freeark/FreeArk/venv/bin/python /home/yangyang/Freeark/FreeArk/FreeArkWeb/backend/freearkweb/manage.py daily_usage_service --time 00:10
Restart=on-failure
RestartSec=30s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=freeark-daily-usage

[Install]
WantedBy=multi-user.target